<div class="position-fixed suivi-view">
	<div class="container py-5">
		<div class="suivi-login row" *ngIf="!accesGranted">
			<form [formGroup]="loginForm" (submit)="onSubmit()" class="col-md-8 col-lg-6 bg-white p-3 border rounded mx-auto my-2">
				<div *ngIf="submitted && topError" class="text-danger text-center mb-2">Id ou mot de passe incorrect</div>
				<div class="input-wrapper pb-3">
					<input type="text" formControlName="id" class="input-shape" [ngClass]="{'input-invalid': submitted && f.id.errors}" placeholder="Identifiant" />
					<div class="error-assoc" *ngIf="submitted && f.id.errors">
					    <div *ngIf="f.id.errors.required">Identifiant invalide</div>
					</div>
				</div>
				<div class="input-wrapper pb-3">
					<input type="password" formControlName="pw" class="input-shape" [ngClass]="{'input-invalid': submitted && f.pw.errors}" placeholder="Mot de passe" />
					<div class="error-assoc" *ngIf="submitted && f.pw.errors">
					    <div *ngIf="f.pw.errors.required">Mot de passe</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<input type="submit" value="Connexion" class="btn rounded btn-warning text-white btn-block">
					</div>
				</div>
			</form>
		</div>
		<div class="suivis-list row" *ngIf="accesGranted">
			<div class="col-md-6 bg-white p-3 position-relative" *ngFor="let suivi of suivisDatas"> 
			    <div class="text-right position-absolute" style="right:15px; font-size: 20px">
			    	<a href="javascript:void(0);" class="badge badge-secondary" (click)="deleteTrack(suivi.id)">
			    		<i class="fas fa-trash-alt"></i>
			    	</a> 
			    </div>  
				<h5 class="text-primary mb-2 text-uppercase">Exp: {{suivi.nom}}</h5>
				<h5 class="text-primary mb-2 text-uppercase">Dest: {{suivi.nomd}}</h5>
				<h5 class="text-secondary mb-2 text-lowercase">{{suivi.email}}</h5>
				<h6 class="text-secondary mb-2 text-lowercase">{{suivi.datesave}}</h6>
				<div class="rounded my-2 bg-light p-3">
					<div *ngIf="suivi.code1" class="row border-bottom pb-2 m-2 font-weight-bold text-dark">
						<div class="col-6 text-success">{{suivi.code1}}</div><div class="col-3" *ngIf="suivi.montant1" >{{suivi.montant1}} €</div>
					</div>
					<div *ngIf="suivi.code2" class="row border-bottom pb-2 m-2 font-weight-bold text-dark">
						<div class="col-6 text-success">{{suivi.code2}}</div><div class="col-3" *ngIf="suivi.montant2" >{{suivi.montant2}} €</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
