<header class="header">
  <div class="bg-white">
    <div class="container menu-line">
      <div class="row py-4">
        <div class="col-md-6 col-lg-8">
          <a routerLink="" class="logo-main d-block d-md-inline-block">
            <img class="mx-auto" src="./assets/images/logo.png">
          </a>
        </div>
        <div class="col-md-6 col-lg-4 pt-2">
          <a routerLink="suivi" class="logo-main d-block text-uppercase btn btn-warning bold">Suivi/Vérification de recharges</a>
        </div>
      </div>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
<section class="py-5">
  <div class="container">
    <h2 class="text-center mb-5 font-weight-bold">Wafacash en Afrique subsaharienne</h2>
    <div class="row">
      <div class="col-md-5">
        <img src="./assets/images/map.jpg" class="img-side">
      </div>
      <div class="col-md-7 align-self-center">
        <div class="mb-3">
          En Zone UEMOA à travers sa filiale Sénégalaise Wafacash West Africa SA qui déploie son activité sur plusieurs pays de la Zone. Son réseau au Sénégal compte plus de 400 points de vente opérationnels.
        </div>
        <div>
          En Zone CEMAC à travers sa filiale Camerounaise Wafacash Central Africa SA qui compte un réseau opérationnel de plus de 500 points de vente.
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-light py-5">
  <div class="container">
    <h2 class="text-center mb-5 font-weight-bold">Vidéothèque</h2>
    <div class="row">
      <div class="col-md-8 align-self-center">
        <img src="./assets/images/v1.png" class="d-block w-100">
      </div>
      <div class="col-md-4">
        <div class="h-md-50 text-right">
          <img src="./assets/images/v2.png" class="d-block h-100">
        </div>
        <div class="h-md-50 text-right">
          <img src="./assets/images/v3.png" class="d-block h-100">
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="py-5 bg-grey">
  <div class="container">
    <div class="text-center">Copyright © Wafacash 2019 - Tous droits réservés</div>
  </div>
</footer>