.carousel-caption{
	top: 30%;
}
.header-taken-carousel{
	font-size: 3.3em!important;
	text-shadow: 0 0 5px #f8f8f8;
}


@media screen and (max-width: 976px){
	.header-taken-carousel{
		font-size: 2.2em!important;
		text-shadow: 0 0 5px #f8f8f8;
	}
}